<h1>Editing Projects Performance</h1>

<%= render 'form', projects_performance: @projects_performance %>

<%= link_to 'Show', @projects_performance %> |
<%= link_to 'Back', projects_performances_path %>
